<div class="page-header">
    <h1>{{ user.username }}</h1>
</div>

<div class="fos_user_user_show">
    <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
</div>

<hr />

<a class="btn btn-default"
   href="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit'|trans({}, 'DdrUtilsBundle') }}</a>
<a class="btn btn-default"
   href="{{ path('fos_user_change_password') }}">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</a>
